/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Styles */

.navbar {
  display: flex;
  justify-content: space-between;
  height: 55px;
  width: 100%;
}

.navbar a {
  font-size: 13px;
  color: #000;
  opacity: 0.75;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar a:visited {
  color: inherit;
}

.navbar .nav-container {
  display: flex;
  align-items: center;
}

.navbar #navbar-left {
  margin: 7px 0 0 12px;
}

.navbar #navbar-right {
  margin: 7px 15px 0 0;
}

.navbar #navbar-left a {
  margin-left: 18px;
}

.navbar #navbar-right a {
  margin-right: 18px;
}

.navbar #signin {
  background-color: #4285f4;
  color: #fff;
  font-weight: bold;
  padding: 7px 13px;
  border-radius: 6%;
  opacity: 1;
}

.navbar #apps-img {
  width: 16px;
  height: 16px;
  opacity: 0.7;
  margin: 0 2px 0 2px;
}
